body {

}

.componente-principal {
   margin-top:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  width: 100%;
  height: 80vh; /* Establece la altura al 100% de la ventana (viewport height) */
  border-radius:20px;
}

label{
    font-size:3em;
    font-family:Roboto;
    font-weight:bold;

}

h1{
    padding-top:96px;
}

.agregar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.botones-funcionales {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 20px;
  padding-bottom: 40px;
}



input{
    width:300px;
    height:40px;
    border-radius:5px;
}

.titulo{
    color:blue;
}

