
<div class="body">
  <h1>Listado de estudiantes inscritos</h1>
  <div class="agregar">
    <input placeholder="Nombre Estudiante"/>
    <input placeholder="Identificación"/>
  </div>
  <div class="botones-funcionales">
    <button type="button" class="btn btn-success">Agregar</button>
    <button type="button" class="btn btn-primary">Modificar</button>
    <button type="button" class="btn btn-danger">Eliminar</button>
  </div>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Estudiante</th>
        <th>Identificación</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="radio-button" type="radio"></td>
        <td>ggg</td>
        <td>vv</td>

      </tr>
    </tbody>
  </table>

  <h1 class="titulo">Listado de Materias</h1>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Materia</th>
        <th>Créditos</th>
        <th>Docente</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ggg</td>
        <td>vv</td>
        <td>vv</td>

      </tr>
    </tbody>
  </table>
</div>

