<div class="body">
  <h1>Selecciona el estudiante</h1>
  <div class="contenedor-select">
    <select class="seleccionable-estudiante"></select>
    <button class="boton-agregar-materia">Agregar materia</button>
  </div>
  <h1>Materias Inscritas estudiante Haland</h1>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Materia</th>
        <th>Créditos</th>
        <th>Docente</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ggg</td>
        <td>vv</td>
        <td>vv</td>

      </tr>
    </tbody>
  </table>
</div>
